PORT=
MONGO_URI=
JWT_SECRET=
JWT_EXPIRE=
NODE_ENV=
EMAIL_USER=
EMAIL_PASS=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
FRONTEND_URL=
REFRESH_SECRET=
MONGO_URI_TEST=
